# Dependencies
node_modules/
package-lock.json

# Capacitor
android/
ioss/

# Electron
dist/

# Environment
.env
.env.local

# Uploads
uploads/*
!uploads/.gitkeep

# Logs
*.log
logs/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
build/
*.apk
*.exe
*.dmg
*.AppImage
